/* RESET CSS */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* FIM RESET CSS */

/* FONTES */

@font-face {
    font-family: 'Poppins-Black';
    src: url(./assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

/* FIM FONTES */

/* CHAT BOT BOTÃO */

.centralizar {
    display: flex;
    justify-content: flex-end;
}

.chatButton {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    bottom: 15px;
    right: 20px;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 6px 18px 6px 17px;
    width: 150px;
    border: 3px solid #223A68;
    cursor: pointer;
}

.iconbot {
    width: 37.35px;
}

.chatButton p {
    font-family: 'Poppins-Regular';
}

/* CHAT BOT BOTÃO  FIM*/


header {
    display: flex;
    justify-content: space-between;
}

.containerHeader {
    display: grid;
    height: 579px;

}

.divReal {
    padding-left: 163px;
    display: flex;
    align-items: center;
    height: 140px;
}

.logoInteiro {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.logoMenor {
    width: 54.96px;
    height: 54.91px;
    margin-right: 17px;
}

.nav-bar a {
    padding-right: 25px;
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: #000;
    font-size: 18.34px;
}

.divisoria {
    width: 2px;
    height: 24px;
    background-color: #000;
    margin-right: 65px;
}

.nomeEmpresa {
    margin-right: 65px;
    font-family: 'Poppins-Bold';
    font-size: 22.55px;
}

.tituloTop1 {
    padding-left: 163px;
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
    width: 468px;
}

.fundo2 {
    background-image: url(./assets/flecha.png);
    background-repeat: no-repeat;
    background-size: 742px 50px;
}

.circulo {
    z-index: -999;
    position: absolute;
    width: 300px;
    left: 692px;
    bottom: 277px;
}

.tituloTop2 {
    padding-left: 163px;
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
    color: #fff;
}


.textoTop {
    padding-left: 210px;
    font-family: 'Poppins-Medium';
    color: #041D4C;
    font-size: 15.61px;
    width: 618px;
}

.containerTop {
    display: flex;
}

.formiga1 {
    width: 408px;
    height: 700px;
}

.barra1,
.barra2,
.barra3,
.barra4 {
    width: 83px;
    height: 700px;
}

.barra1 {
    background-color: rgba(10, 26, 55, 1);
}

.barra2 {
    background-color: rgba(155, 169, 197, 1);
}

.barra3 {
    background-color: rgba(188, 200, 221, 0.41);
}

.tituloApenas {
    display: flex;
    align-items: center;
}

.tituloApenas {
    padding-left: 163px;
    height: 138px;

}

.aspas {
    font-size: 115.76px;
    font-family: 'Poppins-Bold';
    color: #0A1A37;

}

.titulo1 {
    font-family: 'Poppins-Bold';
    color: #0A1A37;
    font-size: 39.5px;
    width: 150px;
    line-height: 39px;
}

.circulo-aranha {
    width: 281px;
    position: relative;
    z-index: -1;
    top: 147px;
}

.detalhe-abaixo {
    display: flex;
    justify-content: space-between;
}

.barrasHorizontais {
    display: grid;
    justify-content: end;
    justify-items: end;
    align-items: end;
    align-content: center;
    padding-top: 9%;
    width: 498px;

}

.barraH1 {
    width: 346px;
    height: 60px;
    background-color: #BCC8DD;
    margin-bottom: 3%;
}

.barraH2 {
    width: 415px;
    height: 60px;
    background-color: #2F4570;
}

main{
    background-color: #0A1A37;
    padding-top: 5%;
}

#inputs{
    display: inline-grid;
}

input, #opcoes, #msg{
    margin-bottom: 2%;
}

footer {
    background-color: #576B90;

}

.cartao {
    width: 43px;
    height: 30px;
}

.pagamento {
    font-family: 'Poppins-SemiBold';
    color: #fff;
    margin-left: 2%;
}

.pag {
    display: grid;
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}

.footerTudo {
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    padding-left: 13%;
    padding-right: 13%;
}

.textoPag {
    font-family: 'Poppins-Regular';
    width: 300px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 8%;
}

.cartoes {
    width: 282px;
    margin-bottom: 27%;
}

.links {
    font-family: 'Poppins-SemiBold';
    color: #fff;
}

.linkzinhos {
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: #fff;
    font-size: 15.5px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rede {
    margin-top: 12%;
    font-family: 'Poppins-Bold';
    color: #fff;
}

.social1 {
    width: 48px;
}

.social {
    width: 50px;
}

.setinha {
    width: 8px;
}

.mapa {
    width: 320px;
}