/* RESET CSS */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* FIM RESET CSS */

/* FONTES */

@font-face {
    font-family: 'Poppins-Black';
    src: url(./assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url(./assets/fonts/Poppins-Thin.ttf);
}

/* FIM FONTES */

/* ESTILIZAÇÃO */

header {
    background-image: url(./assets/fundo.png);
    background-size: cover;
    height: 100vh;
    
    background-position: center;
}

.containerHeader {
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-top: 2%;
}

.logoInteiro {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.logoMenor {
    width: 54.96px;
    height: 54.91px;
    margin-right: 17px;
}

.nav-bar a {
    padding-right: 25px;
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: #000;
    font-size: 18.34px;
}

.divisoria {
    width: 2px;
    height: 24px;
    background-color: #000;
}

.nomeEmpresa {
    margin-right: 65px;
    font-family: 'Poppins-Bold';
    font-size: 22.55px;
}

.nav-bar {
    padding-left: 65px;
}

.containerTop {
    padding-left: 150px;
    width: 431px;
    padding-top: 9%;
}

.conteudo1 {
    display: grid;
    align-items: center;
    align-content: center;
}

.tituloTop1 {
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
}

.tituloTop2 {
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
    color: #fff;
}

.textoTop {
    font-family: 'Poppins-Medium';
    color: #041D4C;
    margin-top: 9.5%;
    font-size: 14.83;
    width: 500px;
}