/* RESET CSS */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* FIM RESET CSS */

/* FONTES */

@font-face {
    font-family: 'Poppins-Black';
    src: url(./assets/fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(./assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url(./assets/fonts/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

/* FIM FONTES */


#contatoA{
    font-family: 'Poppins-Bold';
    color:#223A68;
}

/* CHAT BOT BOTÃO */

.centralizar{
    display: flex;
    justify-content: flex-end;
}

.chatButton{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    bottom: 15px;
    right: 20px;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 6px 18px 6px 17px;
    width: 150px;
    border: 3px solid #223A68;
    cursor: pointer;
}

.iconbot{
    width: 37.35px;
}

.chatButton p{
    font-family: 'Poppins-Regular';
}

/* CHAT BOT BOTÃO  FIM*/


/* ESTILIZAÇÃO */

header {
    display: flex;
    justify-content: space-between;
}

.containerHeader {
    display: grid;
    height: 579px;

}

.divReal {
    padding-left: 163px;
    display: flex;
    align-items: center;
    height: 140px;
}

.logoInteiro {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.logoMenor {
    width: 54.96px;
    height: 54.91px;
    margin-right: 17px;
}

.nav-bar a {
    padding-right: 25px;
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: #000;
    font-size: 18.34px;
}


.nav-bar a:hover{
    font-family: 'Poppins-Medium';
    color:#223A68;
}

.divisoria {
    width: 2px;
    height: 24px;
    background-color: #000;
    margin-right: 65px;
}

.nomeEmpresa {
    margin-right: 65px;
    font-family: 'Poppins-Bold';
    font-size: 22.55px;
}

.tituloTop1 {
    padding-left: 163px;
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
    width: 468px;
}

.fundo2 {
    background-image: url(./assets/flecha.png);
    background-repeat: no-repeat;
    background-size: 742px 50px;
}

.circulo {
    z-index: -999;
    position: absolute;
    width: 300px;
    left: 672px;
    bottom: 253px;
}

.tituloTop2 {
    padding-left: 163px;
    font-family: 'Poppins-Bold';
    font-size: 34.5px;
    color: #fff;
}


.textoTop {
    padding-left: 163px;
    font-family: 'Poppins-Medium';
    color: #041D4C;
    margin-top: 3.5%;
    font-size: 15.61px;
    width: 587px;
}

.containerTop {
    display: flex;
}

.formiga1 {
    width: 408px;
    height: 700px;
}

.barra1,
.barra2,
.barra3,
.barra4 {
    width: 83px;
    height: 700px;
}

.barra1 {
    background-color: rgba(10, 26, 55, 1);
}

.barra2 {
    background-color: rgba(155, 169, 197, 1);
}

.barra3 {
    background-color: rgba(188, 200, 221, 0.41);
}


main {
    background-color: rgba(10, 26, 55, 1);
}

.containerMain {
    padding-left: 163px;
}


.tituloArea2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tituloApenas {
    display: flex;
    align-items: center;
}

.aspas {
    font-size: 115.76px;
    font-family: 'Poppins-Bold';
    color: #fff;

}

.titulo1 {
    font-family: 'Poppins-Bold';
    color: #fff;
    font-size: 39.5px;
    width: 150px;
    line-height: 39px;
}

.barrasTitulo {
    display: grid;
    justify-items: end;
}

.barraHorizontal1 {
    background-color: #fff;
    height: 60px;
    width: 885px;
}

.barraHorizontal2 {
    height: 60px;
    background-color: rgba(34, 58, 104, 1);
    width: 764px;
}

.servicosArea {
    padding-right: 163px;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

.blocoServicos {
    width: 249px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.blocoServicos:hover {
    border: 1px solid #fff;
    padding: 33px 25px;
    width: 310px;
    border-radius: 7px;
    transition: all 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.subtitulo {
    font-family: 'Poppins-Light';
    font-size: 18.77px;
    color: #fff;
}

.tituloBloco {
    font-family: 'Poppins-Bold';
    font-size: 36.31px;
    color: rgba(188, 200, 221, 1);
    line-height: 38px;
}

.textoBloco {
    color: white;
    font-family: 'Poppins-Regular';
    font-size: 15.61px;
}

.linha {
    background-color: white;
    width: 239px;
    height: 4px;
    border-radius: 15px;
    margin: 17px 0 17px 0;

}

.sobreNos {
    background-color: #fff;
    width: 1000px;
    display: flex;
    height: 400px;
    border-radius: 30px;
}

.textos {
    display: grid;
    flex-direction: column;
    align-content: center;
    padding-left: 8%;
}

.branco {
    display: grid;
    justify-content: center;
    padding-bottom: 9%;
}

.inovacao {
    font-family: 'Poppins-Bold';
    color: #041D4C;
    font-size: 45px;
}

.seta2 {
    margin-top: -25px;
    display: flex;
    align-items: center;
}

.continua {
    font-family: 'Poppins-ExtraLight';
    color: #041D4C;
}

.logoSeta {
    width: 165px;
    margin-left: 18px;
}

.sobre {
    font-family: 'Poppins-Medium';
    color: #041D4C;
    font-size: 15.5px;
    text-align: justify;
    margin-right: 25px;
    margin-top: 20px;
}

.insetos {
    margin-top: -0.5px;
    width: 530px;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #fff;
    padding: 3px 19px;
    border-radius: 42px;
    margin: 14px 0px 0px 0px;
}

.seta {
    width: 35px;
}

.botao p {
    font-family: 'Poppins-ExtraBold';
    font-size: 16.61px;
    color: #fff;
}

footer {
    background-color: #576B90;
    
}

.cartao {
    width: 43px;
    height: 30px;
}

.pagamento {
    font-family: 'Poppins-SemiBold';
    color: #fff;
    margin-left: 2%;
}

.pag {
    display: grid;
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}

.footerTudo{
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    padding-left: 13%;
    padding-right: 13%;
}

.textoPag {
    font-family: 'Poppins-Regular';
    width: 300px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 8%;
}

.cartoes {
    width: 282px;
    margin-bottom: 27%;
}

.links {
    font-family: 'Poppins-SemiBold';
    color: #fff;
}

.linkzinhos{
    text-decoration: none;
    font-family: 'Poppins-Regular';
    color: #fff;
    font-size: 15.5px;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rede{
    margin-top: 12%;
    font-family: 'Poppins-Bold';
    color: #fff;
}

.social1{
    width: 48px;
}

.social{
    width: 50px;
}

.setinha{
    width: 8px;
}

.mapa{
    width: 320px;
}